@{
    ViewData["Title"] = "O nás";
}
<h1>@ViewData["Title"]</h1>

<p>Tyto stránky slouží jako projekt k závěrečným zkouškám.</p>

<h1>Pojišťovna Jistota</h1>
<br/>

<div class="col-xl-10 col-xxl-8 px-4 py-5 general-container">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Franta Vomáčka</h1>
            <p class="col-lg-10 fs-4">Vítejte v naší pojišťovně. Pevně věřím, že si vyberete z naší nabídky produktů. Jmenuji se Franta Vomáčka je mi 27 let a už 10 let vedu úspěšně tuto pojišťovnu.
            </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 general-container-photo">
            <img src="/images/genreditel.jpg" alt="General" class="general-container-img" />
        </div>
    </div>
</div>

<div class="col-xl-10 col-xxl-8 px-4 py-5 general-container">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-md-10 mx-auto col-lg-5 general-container-photo">
            <img src="/images/asi_stentka.jpg" alt="General" class="general-container-img" />

        </div>
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Martina Vomáčková</h1>
            <p class="col-lg-10 fs-4">
                V případě, že nebudete něčemu rozumět obraťte se na náš <a href="mailto:email@example.com?subject=Mail from our Website">email</a> Nebo se ozvěte naší asistence telefonicky na 602 121 212
            </p>
        </div>
        
    </div>
</div>



