@{
    ViewData["Title"] = "O nás";
}
<h1>@ViewData["Title"]</h1>

<p>Tyto stránky slouží jako projekt k závěrečným zkouškám.</p>

<h1>Pojišťovna Jistota</h1>
<br/>

<section>
    <img src="/images/genreditel.jpg" alt="General"/>

    <p>
        Vítejte v naší pojišťovně. Pevně věřím, že si vyberete z naší nabídky produktů
    <p>
        Jmenuji se Franta Vomáčka je mi 27 let a už 10 let vedu úspěšně tuto pojišťovnu.
    </p>
    <p>
        V případě, že nebudete něčemu rozumět obraťte se na náš <a href="mailto:email@example.com?subject=Mail from our Website">Pošli email</a>
    </p>
    <p> Nebo se ozvěte naší asistence telefonicky na 602 121 212 </p>
    <img src="/images/asi_stentka.jpg" alt="Asi" />
  
</section>


