@model InsuranceVitKadlec.Models.InsuredInsurenceEvent

@{
    ViewData["Title"] = "Vytvoření nové pojistné události";
}

<h1>@ViewData["Title"]</h1>

<h4>Zadej novou pojistnou událost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InsuredesInsurencesId" class="control-label"></label>
                <select asp-for="InsuredesInsurencesId" class="form-control" asp-items="@ViewBag.InsuredesInsurencesId"></select>
                <span asp-validation-for="InsuredesInsurencesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsurenceDamage" class="control-label"></label>
                <input asp-for="InsurenceDamage" class="form-control" />
                <span asp-validation-for="InsurenceDamage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DamageDate" class="control-label"></label>
                <input asp-for="DamageDate" class="form-control" />
                <span asp-validation-for="DamageDate" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-start align-content-center mt-3">
                <input type="submit" value="Create" class="btn btn-primary me-3" />
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>



